body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: oklch(37.2% 0.044 257.287);
    color: black;
}

.container {
    display: flex;
    gap: 10px 10px;
    background-color: oklch(72.3% 0.219 149.579);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100vh;
    height: 100dvh;
}

.coluna {
    height: 100vh;
    height: 100dvh;
}

.item {
    margin-bottom: 20px;
}

.principal {
    align-self: center;
    flex-grow: 1;
}

.lateral {
    align-self: flex-start;
}
