@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double:wght@100..900&display=swap');

body {
    font-family: "Bitcount Prop Double", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: oklch(37.2% 0.044 257.287);
    color: black;
    padding: 1rem;
}

.container {
    margin: 0 auto;
    background-color: oklch(72.3% 0.219 149.579);
    border: 1px solid red;
    border-radius: 1rem;
    padding: 5px 20px 20px 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'principal lateral'
    ;
}


.item {
    margin-bottom: 20px;
}

.principal {
    grid-area: principal;
}

.lateral {
    grid-area: lateral;
    display: flex;
    justify-content: end;
    align-items: start;
}
