body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: oklch(37.2% 0.044 257.287);
    color: white;
}

.container {
    display: flex;
    gap: 10px 10px;
    background-color: oklch(72.3% 0.219 149.579);
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 600px;
    padding-left: 600px;
}

.coluna {
    width: 400px;
}

.item {
    height: 200px;
}

.principal {
    align-self: center;
    gap: 50px;
}


.lateral {
    align-self: flex-start;
}