body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: oklch(37.2% 0.044 257.287);
    color: black;
}

.container {
    display: flex;
    gap: 10px 10px;
    background-color: oklch(72.3% 0.219 149.579);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 99%;
    padding-left: 5px;
    padding-right: 5px;
    height: 100vh;
    height: 100dvh;
}

.coluna {
    height: 90vh;
    height: 90dvh;
    max-width: 100vh;
    max-width: 100dvh;
    min-width: 10vh;
    min-width: 10dvh;
}

.item {
    margin-bottom: 30px;
}

